{% extends 'main/base.html' %}

{% block content %}
    <script>
        const socket = new WebSocket('ws://192.168.8.54:5555/ws/test/1');

        socket.onopen = function(e) {
          socket.send(JSON.stringify({
            message: 'HUI HUI HUI HUI'
          }));
        };
        
        socket.onmessage = function(event) {
          try {
            console.log(event);
          } catch (e) {
            console.log('Error:', e.message);
          }
        };
    </script>
{% endblock %}